[global]

write_access = false
# This enables saving, creating new files/folders, deleting and renaming. This
# is obviously very dangerous and just like having filesystem access through
# the operating system, will make it very easy to destroy your Splunk 
# environment if you dont know what you are doing. 
# Defaults to false

run_commands = false
# Enables running commands in the shell, with the user that splunk runs as.
# Use with caution. 
# Defaults to false

hide_settings = false
# Hide the "Settings" link from the home screen. Note that if write_access
# is true then settings can still be changed at 
# etc/apps/config_explorer/local/config_explorer.conf. When the Settings link
# is displayed, it can be changed even when write_access is off. To 
# prevent all editing, set hide_settings = true and write_access = false .
# Defaults to false.

#max_file_size = 10
# The maximum file size in megabytes that can be opened. 

#cache_file_depth = 6
# Cache the list of files and folders for the left pane to this many levels deep. 
# This makes navigation much faster (especially on windows) but uses more memory, 
# causes slightly slower startup, and will not follow symbolic links. Set to 0 to 
# disable cache but allow caching of visited directories. Set -1 to disable all caching.
# Defaults to 5

#conf_validate_on_save = true
# Show a green or red indicator in the code gutter of each line if it appears
# in the btool list output or not. Note: There are some of edge cases where this 
# doesn't work properly, so run btool yourself to confirm.
# Defaults to true

#git_autocommit = false
# Track all file saves by automatically committing them to git with a generic message. 
# Note you must first configure the git repo using "git init". Please see the documentation.
# Autocommitting is a 'best effort' and not guaranteed. 
# Defaults to false 

#git_autocommit_show_output = auto
# When autocommit is enabled, when should we show the commit log
#  true = Always show git messages
#  false = Never show git output
#  auto = Only show git messages when there is a non-zero status code
# Defaults to auto

#git_autocommit_dir = 
# Force specific git repository location, relative to SPLUNK_HOME directory.
# Defaults to empty, meaning normal git rules will apply (search up from current directory)

#git_autocommit_work_tree = 
# Force root location from where changes are tracked, relative to SPLUNK_HOME directory
# Set to "etc/" to track all changes beneath etc folder.
# Defaults to empty, meaning the normal git behavior will apply.

############################################################################
#  Custom action hooks                                                     #
############################################################################

# Custom hooks create right-click actions for files that match a regular expression
# See etc/apps/config_explorer/default/config_explorer.conf for many examples,
# and read the .spec file. There are links to both these actions in the right click menu.

#[hook:<unique_name>]
#match = .*
#matchtype = file
#showWithSave = false
#label = Test
#action = run:echo ${BASEFILE}
#disabled = false
#showWithSave = true 
#order = 10

############################################################################
#  Custom home-tab actions                                                 #
############################################################################

# Actions are buttons on the home tab that can be used to run common actions.
# the run_commands option must be enabled. Read the spec file for hooks which 
# uses the same command options.
 
# Examples below:

# [action:ftw]
# label = Splunk FTW
# action = run:echo running bin/splunk ftw ; bin/splunk ftw
# description = ORLY?
# disabled = false
# order = 10

# [action:reload_deploy_server]
# label = Reload deploy-server
# action = run:./bin/splunk reload deploy-server
# order = 20

# [action:kill_persistant_threads]
# label = Kill persistant threads
# action = run:echo triggered task to kill threads; nohup sh -c "sleep 2; ps aux | grep \"persistconn\/appserver\" | grep -v \"grep\" | awk '{print \$2}' | xargs kill" >/dev/null 2>&1 &
# order = 20

# [action:restart_splunk_web]
# label = restart splunk-web
# action = run:echo restart splunkweb triggered; nohup sh -c "sleep 2; ./bin/splunk restart splunkweb" >/dev/null 2>&1 &
# order = 80

# [action:restart_splunk]
# label = restart splunk
# action = run-safe:echo restart splunk triggered; nohup sh -c "sleep 2; ./bin/splunk restart" >/dev/null 2>&1 &
# order = 90

